{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load markdown_extras %}
{% load metabase_extras %}

{% block title %}
    {{ dashboard.title }} - Tableaux de bord publics - {{ block.super }}
{% endblock %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'pilotage:home' %}">Accueil</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboards:tableaux_de_bord_publics' %}">Tableaux de bord publics</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ dashboard.title }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col  col-12">
                    <h1 class="h1">
                        <strong>{{ dashboard.title }}</strong>
                        {% if dashboard.new %}
                            <span class="badge badge-base rounded-pill bg-important">Nouveau</span>
                        {% endif %}
                    </h1>
                    {% if dashboard.description %}
                        <div>
                            {{ dashboard.description | markdown | safe }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="s-embed m-0">
        <div class="s-embed__container container">
          <div class="s-embed__row row">
            <div class="col-12">
                <iframe src="{{ dashboard.metabase_db_id | iframeurl }}" title="{{ dashboard.baseline }}" id="iframeMetabase" allowtransparency></iframe>
            </div>
          </div>
        </div>
    </section>

    {% if dashboard.tally_embed_id %}
        <section class="s-embed s-embed--tally">
            <div class="s-embed__container container">
            <div class="s-embed__row row">
                <div class="s-embed__col col-12">
                    <iframe data-tally-src="//tally.so/embed/{{ dashboard.tally_embed_id }}?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="189" title="Aidez-nous à améliorer votre outil !"></iframe>
                </div>
            </div>
            </div>
        </section>
    {% endif %}

{% endblock %}

{% block js %}
    {{ block.super }}
    {% include 'partials/footer-scripts.html' with hasTracking=True hasIframeResizer=True hasTallyEmbed=dashboard.tally_embed_id hasTallyPopup=dashboard.tally_popup_id %}
{% endblock %}
