{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load markdown_extras %}
{% load metabase_extras %}

{% block title %}{{ dashboard.title }} - Tableaux de bord publics - {{ block.super }}{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'pilotage:home' %}">Accueil</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboards:tableaux_de_bord_publics' %}">Statistiques publiques</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ dashboard.title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12 col-lg-12">
                    <h1>
                        {{ dashboard.title }}
                        {% if dashboard.new %}<span class="badge badge-base rounded-pill bg-important">Nouveau</span>{% endif %}
                    </h1>
                    {% if dashboard.description %}<div>{{ dashboard.description | markdown | safe }}</div>{% endif %}
                    <!-- Quick win crassou pour permettre de modifier l'encart du TB 408 -->
                    {% if dashboard.metabase_db_id == 408 %}
                        <div class="alert alert-warning mt-3 mt-md-4" role="status">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
                            <p class="mb-2">
                                <strong>Votre retour est précieux sur ce nouveau tableau de bord !</strong>
                            </p>
                            <p class="mb-0">
                                Nous aimerions échanger avec quelques utilisateurs de ce nouveau tableau de bord pour collecter des retours sur son usage, ses points forts et ses points d’amélioration. Vous avez 30 minutes à nous accorder ? <a href="https://tally.so/r/3jL896">Je suis volontaire !</a>
                            </p>
                        </div>
                    {% elif show_webinar_banner %}
                        <div class="alert alert-info alert-dismissible fade show" role="status">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
                            <div class="row">
                                <div class="col-auto pe-0">
                                    <i class="ri-information-line ri-xl text-info" aria-hidden="true"></i>
                                </div>
                                <div class="col">
                                    <p class="mb-2">
                                        <strong>Des questions sur l’utilisation des tableaux de bord ?</strong>
                                    </p>
                                    <p class="mb-0">Nous y répondons lors d’un webinaire questions / réponses animé chaque mois.</p>
                                </div>
                                <div class="col-12 col-md-auto mt-3 mt-md-0 d-flex align-items-center justify-content-center">
                                    <a class="btn btn-sm btn-primary btn-block btn-ico"
                                       href="https://app.livestorm.co/itou/le-pilotage-de-linclusion-professionnels-de-liae-questions-reponses-sur-les-tableaux-de-bord-1"
                                       target="_blank"
                                       rel="noopener"><span>Je m’inscris</span> <i class="ri-external-link-line fw-medium" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="s-embed m-0">
        <div class="s-embed__container container">
            <div class="s-embed__row row">
                <div class="col-12">
                    <iframe src="{{ dashboard.metabase_db_id | iframeurl }}" title="{{ dashboard.baseline }}" id="iframeMetabase" allowtransparency></iframe>
                </div>
            </div>
        </div>
    </section>

    {% if dashboard.tally_embed_id %}
        <section class="s-embed s-embed--tally">
            <div class="s-embed__container container">
                <div class="s-embed__row row">
                    <div class="s-embed__col col-12">
                        <iframe data-tally-src="//tally.so/embed/{{ dashboard.tally_embed_id }}?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                                loading="lazy"
                                width="100%"
                                height="189"
                                title="Aidez-nous à améliorer votre outil !"></iframe>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include 'partials/footer-scripts.html' with hasIframeResizer=True hasTallyEmbed=dashboard.tally_embed_id hasTallyPopup=dashboard.tally_popup_id %}
{% endblock %}
