{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}


{% block title %}Statistiques publiques - {{ block.super }}{% endblock %}

{% block body_class %}l-tableaux-de-bord{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'pilotage:home' %}">Accueil</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Statistiques publiques</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12 col-lg-11">
                    <h1>Statistiques publiques</h1>
                    <p>Ces tableaux de bord sont ouverts à tous.</p>
                    <p class="h3">
                        Le détail du périmètre de nos données pour comprendre comment sont construits nos tableaux de bord est
                        <a href="https://aide.pilotage.inclusion.beta.gouv.fr/hc/fr/articles/17407896468113--P%C3%A9rim%C3%A8tre-de-nos-donn%C3%A9es"
                           target="_blank"
                           class="has-external-link text-nowrap"
                           aria-label="Détail du périmètre de nos données">disponible ici</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% regroup dashboards by category as categorized_dashboards %}
    {% for category in categorized_dashboards %}
        <section class="s-tableaux">
            <div class="s-tableaux__container container">
                <div class="s-tableaux__row row mb-3">
                    <div class="col-12">
                        <h2 class="text-secondary">{{ category.grouper.title }}</h2>
                    </div>
                </div>
                <div class="s-tableaux__row row">
                    <div class="s-tableaux__col s-tableaux__col--grid col-12">
                        {% for dashboard in category.list %}
                            <div class="d-flex flex-column justify-content-between position-relative">
                                <div>
                                    <h3>
                                        {{ dashboard.title }}
                                        {% if dashboard.new %}<span class="badge badge-sm rounded-pill bg-important">Nouveau</span>{% endif %}
                                    </h3>
                                    <p>{{ dashboard.baseline }}</p>
                                </div>
                                <p class="s-tableaux__col__cta">
                                    <a href="{% url 'dashboards:tableau_de_bord_public' dashboard.slug %}" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include 'partials/footer-scripts.html' with hasTracking=True %}
{% endblock %}
