{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}


{% block title %}Statistiques publiques - {{ block.super }}{% endblock %}

{% block body_class %}l-tableaux-de-bord{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'pilotage:home' %}">Accueil</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Statistiques publiques</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12 col-xl-11">
                    <h1>Statistiques publiques</h1>
                    <p>Le pilotage de l'inclusion vise à résoudre les problématiques métier des professionnels sur le terrain et de leurs partenaires par la donnée. Cette approche se matérialise principalement à travers des tableaux de bord comprenant des données actualisées en temps réel. Ces outils, qu'ils soient stratégiques, opérationnels ou de suivi, s'adressent à tous les acteurs de l'inclusion. Les informations peuvent être affinées pour un territoire spécifique, tel qu'un bassin d'emploi, un type d'organisation comme une entreprise d'insertion ou un conseil départemental, et sur une période donnée. Grâce à ces connaissances, les utilisateurs peuvent ainsi suivre leurs progrès, se comparer, améliorer leurs échanges avec les financeurs et les partenaires, et enrichir leurs plans d'action et feuilles de route.</p>
                    <p class="h4">
                        Plaquette présentant l’ensemble des tableaux de bord développés par le Pilotage de l’inclusion
                        <a href="https://www.canva.com/design/DAF_5XyJqRk/fV5Rpv649EU5P0GJCo0VJQ/view?utm_content=DAF_5XyJqRk&utm_campaign=designshare&utm_medium=link&utm_source=editor"
                           target="_blank"
                           class="has-external-link text-nowrap"
                           aria-label="Plaquette présentant l’ensemble des tableaux de bord">disponible ici</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% regroup dashboards by category as categorized_dashboards %}
    {% for category in categorized_dashboards %}
        <section class="s-tableaux">
            <div class="s-tableaux__container container">
                <div class="s-tableaux__row row mb-3">
                    <div class="col-12">
                        <h2 class="text-secondary">{{ category.grouper.title }}</h2>
                    </div>
                </div>
                <div class="s-tableaux__row row">
                    <div class="s-tableaux__col s-tableaux__col--grid col-12">
                        {% for dashboard in category.list %}
                            <div class="d-flex flex-column justify-content-between position-relative">
                                <div>
                                    <h3>
                                        {{ dashboard.title }}
                                        {% if dashboard.new %}<span class="badge badge-sm rounded-pill bg-important">Nouveau</span>{% endif %}
                                    </h3>
                                    <p>{{ dashboard.baseline }}</p>
                                </div>
                                <p class="s-tableaux__col__cta">
                                    <a href="{% url 'dashboards:tableau_de_bord_public' dashboard.slug %}" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include 'partials/footer-scripts.html' %}
{% endblock %}
