{% load static %}

<script type="text/javascript" src="//cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@1.19.0/tarteaucitron.js"></script>
<script type="text/javascript">
    tarteaucitron.init({
        "privacyUrl": "",
        /* Privacy policy url */
        "bodyPosition": "bottom",
        /* or top to bring it as first element for accessibility */
        "hashtag": "#tarteaucitron",
        /* Open the panel with this hashtag */
        "cookieName": "tarteaucitron",
        /* Cookie name */
        "orientation": "bottom",
        /* Banner position (top - bottom) */
        "groupServices": false,
        /* Group services by category */
        "showDetailsOnClick": true,
        /* Click to expand the description */
        "serviceDefaultState": "wait",
        /* Default state (true - wait - false) */
        "showAlertSmall": false,
        /* Show the small banner on bottom right */
        "cookieslist": false,
        /* Show the cookie list */
        "closePopup": false,
        /* Show a close X on the banner */
        "showIcon": true,
        /* Show cookie icon to manage cookies */
        //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
        "iconPosition": "BottomRight",
        /* BottomRight, BottomLeft, TopRight and TopLeft */
        "adblocker": false,
        /* Show a Warning if an adblocker is detected */
        "DenyAllCta": true,
        /* Show the deny all button */
        "AcceptAllCta": true,
        /* Show the accept all button when highPrivacy on */
        "highPrivacy": true,
        /* HIGHLY RECOMMANDED Disable auto consent */
        "alwaysNeedConsent": false,
        /* Ask the consent for "Privacy by design" services */
        "handleBrowserDNTRequest": false,
        /* If Do Not Track == 1, disallow all */
        "removeCredit": true,
        /* Remove credit link */
        "moreInfoLink": true,
        /* Show more info link */
        "useExternalCss": true,
        /* If false, the tarteaucitron.css file will be loaded */
        "useExternalJs": false,
        /* If false, the tarteaucitron.js file will be loaded */
        //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
        "readmoreLink": "",
        /* Change the default readmore link */
        "mandatory": true,
        /* Show a message about mandatory cookies */
        "mandatoryCta": true,
        /* Show the disabled accept button when mandatory on */
        //"customCloserId": "", /* Optional a11y: Custom element ID used to open the panel */
        "googleConsentMode": true,
        /* Enable Google Consent Mode v2 for Google ads and GA4 */
        "partnersList": false /* Show the number of partners on the popup/middle banner */
    });
</script>

<script type="text/javascript">
    tarteaucitron.user.googleFonts = ['Covered By Your Grace'];
    (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
</script>

{% if hasTracking %}
    <!-- hasTracking -->
    <script type="text/javascript">
        tarteaucitron.user.matomoId = 146;
        tarteaucitron.user.matomoHost = "//matomo.inclusion.beta.gouv.fr/";
        (tarteaucitron.job = tarteaucitron.job || []).push('matomo');
    </script>

    <script>
        var _mtm = window._mtm = window._mtm || [];
        _mtm.push({
            'mtm.startTime': (new Date().getTime()),
            'event': 'mtm.Start'
        });
        var d = document,
            g = d.createElement('script'),
            s = d.getElementsByTagName('script')[0];
        g.async = true;
        g.src = '//matomo.inclusion.beta.gouv.fr/js/container_czDcW7tH.js';
        s.parentNode.insertBefore(g, s);
    </script>
{% endif %}

{% if hasIframeResizer %}
    <!-- hasIframeResizer -->
    <script src="{% static "vendor/iframe-resizer/iframeResizer.contentWindow.min.js" %}"></script>
    <script src="{{ METABASE_BASE_URL }}/app/iframeResizer.js"></script>
    <script>
        window.iFrameResizer = {
            targetOrigin: "//pilotage.inclusion.beta.gouv.fr"
        }
        iFrameResize({}, '#iframeMetabase');
    </script>
{% endif %}

{% if hasTallyPopup or hasTallyEmbed %}
    <!-- hasTallyPopup or hasTallyEmbed -->
    <script src="//tally.so/widgets/embed.js"></script>
{% endif %}

{% if hasTallyEmbed %}
    <!-- hasTallyEmbed -->
    <script>
        Tally.loadEmbeds();

        // Show embedTallyList after 15s
        const embedTallyList = document.querySelectorAll('.s-embed--tally');
        for (let i = 0, ii = embedTallyList.length; i < ii; i += 1) {
            const thisEmbedTally = embedTallyList[i];

            setTimeout(() => {
                thisEmbedTally.classList.add('d-block');
            }, 15 * 1000);
        }
    </script>
{% endif %}

{% if hasTallyPopup %}
    <!-- hasTallyPopup -->
    <script defer>
        // Any given Tally popup will not be shown more than once every `minDaysBetweenDisplays` days.
        const minDaysBetweenDisplays = 14;
        const delayBeforeShowingPopupInSeconds = 45;
        const formId = '{{ hasTallyPopup }}';
        const key = 'statsTallyPopupLastShown-' + formId;
        const todaysDate = new Date();

        function supportsLocalStorage() {
            try {
                return 'localStorage' in window && window['localStorage'] !== null;
            } catch (e) {
                return false;
            }
        };

        function stopShowingPopupForAWhile() {
            localStorage.setItem(key, JSON.stringify(todaysDate));
        }

        function displayTallyPopup() {
            window.Tally.openPopup(formId, {
                emoji: {
                    text: "👋",
                    animation: "wave"
                },
                onClose: () => {
                    stopShowingPopupForAWhile();
                },
                onSubmit: () => {
                    stopShowingPopupForAWhile();
                }
            });
        };

        function shouldDisplayTallyPopup() {
            if (!supportsLocalStorage()) {
                return true;
            }
            infoKey = localStorage.getItem(key);
            if (infoKey) {
                const lastShown = Date.parse(JSON.parse(localStorage.getItem(key)));
                const milliSecondsElapsed = todaysDate - lastShown;
                const daysElapsed = milliSecondsElapsed / (1000 * 3600 * 24);
                if (daysElapsed <= minDaysBetweenDisplays) {
                    return false;
                };
            };
            return true;
        };

        if (shouldDisplayTallyPopup()) {
            setTimeout(displayTallyPopup, delayBeforeShowingPopupInSeconds * 1000);
        };
    </script>
{% endif %}
