{% load static %}
{% load i18n %}
{% load theme_inclusion %}

<ul>
    <li class="dropdown">
        <button type="button" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-controls="helpDropdown" aria-expanded="false">Besoin d'aide ?</button>
        <div class="dropdown-menu" id="helpDropdown">
            <ul class="list-unstyled">
                <li>
                    <a href="https://aide.pilotage.inclusion.beta.gouv.fr/hc/fr/requests/new"
                       rel="noopener"
                       class="dropdown-item has-external-link"
                       target="_blank"
                       aria-label="Aide et assistance du pilotage de l'inclusion (lien externe)">Nous contacter</a>
                </li>
                <li>
                    <a href="https://aide.pilotage.inclusion.beta.gouv.fr/hc/fr" rel="noopener" class="dropdown-item has-external-link" target="_blank" aria-label="Accéder à l'espace de documentation (lien externe)">Documentation</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a href="{% url 'pilotage:inscription_lettre_information' %}" class="btn btn-outline-primary">Infolettre</a>
    </li>
</ul>
