{% load static %}

<section class="s-section mt-md-0 mb-md-7">
    <div class="s-section__container container container-max-lg">
        <div class="row mb-1 mb-md-3">
            <div class="col-12">
                <h2>Comment j’accède aux données ?</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mt-3">
            <div class="col mb-3 mb-md-5">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="d-block h2 text-pilotage">1</span>
                        <p>Je choisis le tableau de bord qui m’intéresse</p>
                    </div>
                    <div class="card-body">
                        <img src="{% static 'images/pilotage/home/comment-01.jpg' %}" class="img-fluid img-fitcover" alt="">
                    </div>
                </div>
            </div>
            <div class="col mb-3 mb-md-5">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="d-block h2 text-pilotage">2</span>
                        <p>Je filtre les données pour affiner ma recherche</p>
                    </div>
                    <div class="card-body">
                        <img src="{% static 'images/pilotage/home/comment-02.jpg' %}" class="img-fluid img-fitcover" alt="">
                    </div>
                </div>
            </div>
            <div class="col mb-3 mb-md-5">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="d-block h2 text-pilotage">3</span>
                        <p>Je consulte les chiffres et les graphiques que je peux aussi exporter</p>
                    </div>
                    <div class="card-body">
                        <img src="{% static 'images/pilotage/home/comment-03.jpg' %}" class="img-fluid img-fitcover" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
