{% load static %}

<section class="s-section mt-md-0 mb-md-7">
    <div class="s-section__container container container-max-lg">
        <div class="row mb-1 mb-md-3">
            <div class="col-12">
                <h2>
                    Le pilotage vous accompagne
                </h2>
                <p>Vous travaillez dans une administration, service de l'Etat, une structure inclusive, un conseil départemental ? Vous souhaitez avoir des connaissances et des apprentissages sur les politiques publiques d'inclusion ? Le pilotage vous accompagne.</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mt-3">
            <div class="col mb-3 mb-md-5">
                <div class="card h-100 text-center has-one-link-inside">
                    <div class="card-header pt-md-4 ps--md-4 pe-md-4">
                        <q>Combien de candidatures j'ai reçues ou orientée ? Quels sont leurs résultats ?</q>
                    </div>
                    <div class="card-body pb-0">
                        <img src="{% static 'images/pilotage/home/accompagne-01.png' %}" height="120" alt="">
                        <h3 class="mt-3 mb-0">Simplifier le reporting et le bilan <br class="d-none d-lg-inline">de l'activité</h3>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'pilotage:tableaux_de_bord_prives' %}" class="btn btn-link stretched-link">
                            Accéder à mes statistiques
                        </a>
                    </div>
                </div>
            </div>
            <div class="col mb-3 mb-md-5">
                <div class="card h-100 text-center has-one-link-inside">
                    <div class="card-header pt-md-4 ps--md-4 pe-md-4">
                        <q>J’ai besoin de données pour préparer <br class="d-none d-lg-inline">mon CDIAE ?</q>
                    </div>
                    <div class="card-body pb-0">
                        <img src="{% static 'images/pilotage/home/accompagne-02.png' %}" height="120" alt="">
                        <h3 class="mt-3 mb-0">Enrichir les instances locales de pilotage (dialogue de gestion, CTA, CTS, CDIAE…)</h3>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'pilotage:tableaux_de_bord_prives' %}" class="btn btn-link stretched-link">
                            Accéder à mes statistiques
                        </a>
                    </div>
                </div>
            </div>
            <div class="col mb-3 mb-md-5">
                <div class="card h-100 text-center has-one-link-inside">
                    <div class="card-header pt-md-4 ps--md-4 pe-md-4">
                        <q>Pourquoi les SIAE ont du mal à recruter, alors que les prescripteurs prescrivent bien ?</q>
                    </div>
                    <div class="card-body pb-0">
                        <img src="{% static 'images/pilotage/home/accompagne-03.png' %}" height="120" alt="">
                        <h3 class="mt-3 mb-0">Objectiver les situations et les échanges avec les partenaires</h3>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'pilotage:tableaux_de_bord_prives' %}" class="btn btn-link stretched-link">
                            Accéder à mes statistiques
                        </a>
                    </div>
                </div>
            </div>
            <div class="col mb-3 mb-md-5">
                <div class="card h-100 text-center has-one-link-inside">
                    <div class="card-header pt-md-4 ps--md-4 pe-md-4">
                        <q>Quelle est la situation sur mon territoire ? Les prescripteurs sont-ils mobilisés sur l'IAE ?</q>
                    </div>
                    <div class="card-body pb-0">
                        <img src="{% static 'images/pilotage/home/accompagne-04.png' %}" height="120" alt="">
                        <h3 class="mt-3 mb-0">Faciliter la réalisation et le suivi des plans d’actions</h3>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'pilotage:tableaux_de_bord_prives' %}" class="btn btn-link stretched-link">
                            Accéder à mes statistiques
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
