{% load static %}

<section class="s-section mt-md-0 mb-5 mb-md-9">
    <div class="s-section__container container container-max-lg">
        <div class="row mb-1 mb-md-3">
            <div class="col-12">
                <h2>
                    Vous avez un besoin particulier, une idée, une suggestion ?
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex">
                    <div class="d-none d-lg-inline-flex w-lg-25">
                        <img src="{% static 'images/pilotage/home/illustration-02.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="bg-pilotage p-3 py-md-7 px-md-4 rounded-3 flex-grow-1">
                        <div class="input-group input-group-xl input-group-search">
                            <input type="text" class="form-control" placeholder="Dites-nous de quoi vous avez besoin" id="input-continuer" aria-label="Suggestions et idées">
                            <div class="input-group-text p-0 bg-white">
                                <button class="btn btn-link" type="button" disabled id="btn-continuer">Continuer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    let inputContinuer = document.getElementById("input-continuer");
    let btnContinuer = document.getElementById("btn-continuer");
    let tallyUrl = "https://tally.so/r/3la8PB";

    inputContinuer.addEventListener("keydown", function (e) {
        if (inputContinuer.value.length > 1) {
            btnContinuer.removeAttribute("disabled");
        } else {
            btnContinuer.setAttribute("disabled", "");
        }
    });

    btnContinuer.addEventListener("click", function (e) {
        window.open(tallyUrl+"?suggestion="+inputContinuer.value);
    });
</script>
