{% extends "layouts/base.html" %}
{% load django_bootstrap5 %}
{% load markdown_extras %}
{% load surveys %}

{% block title %}Étude {{ survey.get_kind_display }} {{ survey.vintage }} - {{ block.super }}{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'pilotage:home' %}">Accueil</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">Étude {{ survey.get_kind_display }} {{ survey.vintage }}</li>
                            <li class="breadcrumb-item active" aria-current="page">{{ title|capfirst }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12 col-lg-12">
                    <h1>Étude {{ survey.get_kind_display }} {{ survey.vintage }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-lg-8 order-last order-lg-first">
                    <div class="c-form mb-3 mb-md-4">
                        <h2>{{ title|capfirst }}</h2>
                        {% if not form %}
                            {{ content|default_if_none:"" | markdown | safe }}
                            <div class="form-group text-end">
                                {% if previous_step_url %}
                                    {% bootstrap_button "Retour" button_type="link" href=previous_step_url button_class="btn-outline-primary" %}
                                {% endif %}
                                {% if next_step_url %}
                                    {% bootstrap_button "Suivant" button_type="link" href=next_step_url %}
                                {% endif %}
                            </div>
                        {% elif form %}
                            <form method="post">

                                {% csrf_token %}

                                {% bootstrap_form_errors form type="all" %}

                                {% for field in form %}
                                    {% label_with_info field labels_information %}
                                    {% bootstrap_field field show_label="skip" %}
                                {% endfor %}

                                <div class="form-group text-end">
                                    {% if previous_step_url %}
                                        {% bootstrap_button "Précédent" button_type="submit" name="goto" value="previous" button_class="btn-outline-primary" %}
                                    {% endif %}
                                    {% bootstrap_button "Suivant" button_type="submit" %}
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="s-section__col col-12 col-lg-4 order-first order-lg-last">
                    <div class="c-box mb-3 mb-md-4">
                        <h2>Étapes du formulaire</h2>
                        <hr>
                        <ol>
                            {% for step, info in steps_info.items %}
                                <li>
                                    {% if current_step == step %}
                                        <b>{{ step.label|capfirst }}</b>
                                    {% else %}
                                        <a href="{% url "surveys:tunnel" survey_name=survey.name answer_uid=answer.uid step=step %}">{{ step.label|capfirst }}</a>
                                    {% endif %}
                                    - {{ info.filled }}/{{ info.total }}
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
