{% extends "layouts/base.html" %}
{% load django_bootstrap5 %}
{% load markdown_extras %}
{% load surveys %}

{% block title %}
    {% if survey.title %}
        {{ survey.title }}
    {% else %}
        Étude {{ survey.get_kind_display }} {{ survey.vintage }}
    {% endif %}
    - {{ block.super }}
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'pilotage:home' %}">Accueil</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                {% if survey.title %}
                                    {{ survey.title }}
                                {% else %}
                                    Étude {{ survey.get_kind_display }} {{ survey.vintage }}
                                {% endif %}
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ title|capfirst }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12 col-lg-12">
                    <h1>
                        {% if survey.title %}
                            {{ survey.title }}
                        {% else %}
                            Étude {{ survey.get_kind_display }} {{ survey.vintage }}
                        {% endif %}
                    </h1>
                    <div class="c-stepper mb-3 mb-md-4">
                        <div class="progress">
                            <div class="progress-bar"
                                 role="progressbar"
                                 aria-label="Basic example"
                                 style="width: {{ steps_info.progress }}%"
                                 aria-valuenow="{{ steps_info.total_filled }}"
                                 aria-valuemin="0"
                                 aria-valuemax="{{ steps_info.total_fields }}"></div>
                        </div>
                        <p>
                            <strong>Taux de remplissage</strong>: {{ steps_info.total_filled }}/{{ steps_info.total_fields }} questions
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-lg-8 order-last order-lg-first">
                    <div class="c-form mb-3 mb-md-4">
                        <h2>{{ title|capfirst }}</h2>
                        {% if not form %}
                            {{ content | markdown | safe }}
                            <div class="row">
                                <div class="col-12">
                                    <hr class="mb-3">
                                    <div class="form-row align-items-center justify-content-end gx-3">
                                        {% if next_step_url %}
                                            <div class="form-group col col-lg-auto order-2 order-lg-2">{% bootstrap_button "Suivant" button_type="link" href=next_step_url %}</div>
                                        {% endif %}
                                        {% if previous_step_url %}
                                            {% if not next_step_url %}
                                                <div class="form-group col col-lg-auto order-2 order-lg-2">{% bootstrap_button "Confirmer" button_type="link" href=start_url %}</div>
                                            {% endif %}
                                            <div class="form-group col col-lg-auto order-1 order-lg-1">{% bootstrap_button "Retour" button_type="link" href=previous_step_url button_class="btn-outline-primary" %}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% elif form %}
                            <form method="post">

                                {% csrf_token %}

                                {% bootstrap_form_errors form type="all" %}

                                {% for field in form %}
                                    {% label_with_info survey field %}
                                    {% bootstrap_field field show_label="skip" %}
                                {% endfor %}

                                <div class="row">
                                    <div class="col-12">
                                        <hr class="mb-3">
                                        <div class="form-row align-items-center justify-content-end gx-3">
                                            <div class="form-group col col-lg-auto order-2 order-lg-2">{% bootstrap_button "Suivant" button_type="submit" %}</div>
                                            {% if previous_step_url %}
                                                <div class="form-group col col-lg-auto order-1 order-lg-1">{% bootstrap_button "Précédent" button_type="submit" name="goto" value="previous" button_class="btn-outline-primary" %}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="s-section__col col-12 col-lg-4 order-first order-lg-last">
                    <div class="ps-lg-3 mb-3 mb-md-4">
                        <h2>Étapes du questionnaire</h2>
                        <hr>
                        <ol class="nav nav-tabs nav-tabs-sm flex-column fs-sm">
                            {% for step, info in steps_info.data.items %}
                                <li class="nav-item" href="{% url "surveys:tunnel" survey_name=survey.name answer_uid=answer.uid step=step %}">
                                    {% if current_step == step %}
                                        <span class="nav-link active">
                                            <span>{{ step.label|capfirst }}</span>
                                            {% completion_badge info %}
                                        </span>
                                    {% else %}
                                        <a class="nav-link" href="{% url "surveys:tunnel" survey_name=survey.name answer_uid=answer.uid step=step %}">
                                            <span>{{ step.label|capfirst }}</span>
                                            {% completion_badge info %}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
