{% load static %}
{% load i18n %}
{% load compress %}
{% load theme_inclusion %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>
                {% block title %}Le pilotage de l'inclusion{% endblock %}
            </title>
            <meta name="created" content="{% now "jS M Y h:i" %}">
            <meta name="title" content="Le pilotage de l'inclusion">
            <meta name="description"
                  content="Proposer des tableaux de bord prêts à l’emploi pour permettre aux acteurs de l’inclusion de prendre des décisions mieux éclairées, tout en réduisant le temps de collecte de données et de production d’indicateurs.">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- https://metatags.io Open Graph -->
            <meta property="og:title" content="Le pilotage de l'inclusion">
            <meta property="og:description"
                  content="Proposer des tableaux de bord prêts à l’emploi pour permettre aux acteurs de l’inclusion de prendre des décisions mieux éclairées, tout en réduisant le temps de collecte de données et de production d’indicateurs.">
            <meta property="og:locale" content="fr_FR">
            <meta property="og:type" content="website">
            <meta property="og:url" content="{{ request.build_absolute_uri }}">
            <meta property="og:image" content="{% static 'images/logo-meta-pilotage.png' %}">
            <meta property="og:image:alt" content="Logo du pilotage de l'inclusion">
            <meta property="og:image:type" content="image/png">
            <meta property="og:image:width" content="1200">
            <meta property="og:image:height" content="630">
            <!-- https://metatags.io Twitter -->
            <meta property="twitter:title" content="Le pilotage de l'inclusion">
            <meta property="twitter:description"
                  content="Proposer des tableaux de bord prêts à l’emploi pour permettre aux acteurs de l’inclusion de prendre des décisions mieux éclairées, tout en réduisant le temps de collecte de données et de production d’indicateurs.">
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
            <meta property="twitter:image" content="{% static 'images/logo-meta-pilotage.png' %}">
            <meta property="twitter:site" content="inclusion_gouv">
            <!-- https://metatags.io Facebook -->
            <meta property="fb:page_id" content="inclusion.gouv">
            <!-- Use this to get the value of the CSRF token in JavaScript. -->
            <meta name="csrf-token" content="{{ csrf_token }}">
        {% endblock head %}
        {% block extra_head %}{% endblock %}
        {% block css %}
            <link rel="shortcut icon" href="{% static_theme_images "favicon.ico" %}" type="image/ico">
            {% import_static_css_theme_inclusion %}
        {% endblock %}
        {% compress css %}
            <link rel="stylesheet" href="{% static 'stylesheets/itou_pilotage.scss' %}" type="text/x-scss">
        {% endcompress %}
    </head>
    <body id="top" class="{% block body_class %}{% endblock %}">
        <noscript>
            <div class="alert alert-danger" role="status">Javascript doit être activé pour pouvoir assurer l'affichage correct de la page (recherche géographique par exemple).</div>
        </noscript>
        <nav role="navigation" aria-label="Accès rapide" tabindex="1" class="visually-hidden">
            <ul>
                <li>
                    <a href="#nav-primary">Aller au menu principal</a>
                </li>
                <li>
                    <a href="#main">Aller au contenu principal</a>
                </li>
            </ul>
        </nav>
        {% block header %}
            {% include "partials/header.html" %}
        {% endblock %}
        {% block sub_header %}{% endblock %}
        <main id="main" role="main" class="s-main">
            {% block main %}
                {% block content %}{% endblock %}
            {% endblock %}
        </main>
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock %}
        {% block modals %}{% endblock %}
        <div class="visually-hidden visually-hidden-focusable">
            <a href="#header">Retour au début de la page</a>
        </div>
        {% block js %}
            {% import_static_js_theme_inclusion %}
        {% endblock %}
    </body>
</html>
