{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Accueil - {{ block.super }}{% endblock %}

{% block content %}
    <section class="s-hero-title-01 s-hero-title-01--pilotage pt-lg-0">
        <div class="s-hero-title-01__container container">
            <div class="s-hero-title-01__row row align-items-center">
                <div class="s-hero-title-01__col s-hero-title-01__col--article col-12 col-md-8 col-xl-7">
                    <article>
                        <h1 class="mb-md-4">
                            Comprendre et analyser
                            <br class="d-none d-lg-inline">
                            l’inclusion dans l'emploi
                        </h1>
                        <h2 class="h4 font-weight-normal">Professionnels de l'inclusion, consultez à la fois les statistiques publiques sur l'inclusion dans l'emploi et les données spécifiques à votre organisation grâce aux tableaux de bord prêts à l'emploi et interactifs du pilotage de l’inclusion.</h2>
                        <div class="row g-3 mt-3">
                            <div class="col-6 col-md-auto">
                                <a href="{% url 'pilotage:tableaux_de_bord_prives' %}" rel="noopener" class="btn btn-block btn-primary">Statistiques de mon organisation</a>
                            </div>
                            <div class="col-6 col-md-auto">
                                <a href="{% url 'dashboards:tableaux_de_bord_publics' %}" rel="noopener" class="btn btn-block btn-outline-primary">Statistiques publiques</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="s-hero-title-01__col col-12 d-none d-md-inline-flex col-md-4 col-xl-5">
                    <div>
                        <img src="{% static 'images/pilotage/home/illustration-01.png' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/home_section_apercu.html' %}

    {% include 'partials/home_section_comment.html' %}

    {% include 'partials/home_section_suggestion.html' %}

    {% include 'partials/home_section_accompagne.html' %}

    <section class="s-section mt-md-0 mb-md-7">
        <div class="s-section__container container container-max-lg">
            <div class="row mb-1 mb-md-3">
                <div class="col-12">
                    <h2 class="mb-0">Événements à venir</h2>
                </div>
            </div>
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="js-tac-livestorm w-100" data-url="https://app.livestorm.co/itou/upcoming?limit=3" title="Événements La Plateforme de l'inclusion | Livestorm">
                        <iframe title="Événements des emplois de l'inclusion | Livestorm" src="https://app.livestorm.co/itou/upcoming?limit=3" style="min-height:365px;" allowtransparency allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'sections/testimonial.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include 'partials/footer-scripts.html' with hasTracking=True %}
{% endblock %}
