{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}S’abonner à la lettre d’information du Pilotage de l’inclusion - {{ block.super }}{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'pilotage:home' %}">Accueil</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">S’abonner à la lettre d’information du Pilotage de l’inclusion</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col  col-12">
                    <h1>S’abonner à la lettre d’information du Pilotage de l’inclusion</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-embed">
        <div class="s-embed__container container">
            <div class="s-embed__row row">
                <div class="s-embed__col col-12">
                    <iframe src="https://e60d439d.sibforms.com/serve/MUIFAG4HqP3M-hARD3AG0G1QcAHeeMU3ZHHfZnWp3SSHaDFhj6XiRPcpWuhW9p8fO--J6jaNQJQq1BnK8ouUrg9ghvcW8o6HnVTtGYWRGj2NbatXm9LQ01tHOmd8X8cheTK3H4n8VMXTsVv6mP5TFSqgqx_nkDCP7e4t7VSN-5bP-jJiSSvXCTEV3HhadMN_MfUm0xtNUdhA_iTf"
                            frameborder="0"
                            allowfullscreen
                            style="height: 620px"
                            title="S’abonner à la lettre d’information du Pilotage de l’inclusion">
                    </iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block js %}
    {{ block.super }}
    {% include 'partials/footer-scripts.html' %}
{% endblock %}
