<section class="s-section mt-md-6">
	<div class="s-section__container container">
		<div class="row mb-1 mb-md-3">
			<div class="col-12">
				<h2 class="text-secondary">Aide et ressources</h2>
			</div>
		</div>
		<div class="s-section__row row row-cols-1 row-cols-md-2 row-cols-lg-3">
			<div class="col mb-3 mb-md-5">
				<div class="card c-card c-card--communaute has-one-link-inside h-100 w-100">
					<div class="card-header">
						<h3 class="h3">Guide d’utilisation</h3>
					</div>
					<div class="card-body">
						<p>Aide à la lecture et à l'utilisation des tableaux de bord</p>
					</div>
					<div class="card-footer text-end">
						<a href="https://aide.pilotage.inclusion.beta.gouv.fr/hc/fr" target="_blank" class="btn btn-ico btn-link stretched-link">
							<span>Accéder au guide d’utilisation</span>
							<i class="ri-external-link-line ri-lg" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col mb-3 mb-md-5">
				<div class="card c-card c-card--communaute has-one-link-inside h-100 w-100">
					<div class="card-header">
						<h3 class="h3">Dictionnaire des indicateurs</h3>
					</div>
					<div class="card-body">
						<p>Liste de tous les indicateurs présentant leurs définitions, formules et sources de données.</p>
					</div>
					<div class="card-footer text-end">
						<a href="https://aide.pilotage.inclusion.beta.gouv.fr/hc/fr/categories/16893324699153--P%C3%A9rim%C3%A8tre-des-donn%C3%A9es-et-d%C3%A9finitions" target="_blank" class="btn btn-ico btn-link stretched-link">
							<span>Accéder au dictionnaire</span>
							<i class="ri-external-link-line ri-lg" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col mb-3 mb-md-5">
				<div class="card c-card c-card--communaute has-one-link-inside h-100 w-100">
					<div class="card-header">
						<h3 class="h3">Glossaire</h3>
					</div>
					<div class="card-body">
						<p>Comprenez les sigles utilisés dans nos tableaux</p>
					</div>
					<div class="card-footer text-end">
						<a href="https://aide.pilotage.inclusion.beta.gouv.fr/hc/fr/categories/16893324699153--P%C3%A9rim%C3%A8tre-des-donn%C3%A9es-et-d%C3%A9finitions" target="_blank" class="btn btn-ico btn-link stretched-link">
							<span>Accéder au glossaire</span>
							<i class="ri-external-link-line ri-lg" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col mb-3 mb-md-5">
				<div class="card c-card c-card--communaute has-one-link-inside h-100 w-100">
					<div class="card-header">
						<h3 class="h3">Suggestions</h3>
					</div>
					<div class="card-body">
						<p>Nos tableaux de bord sont amenés à évoluer pour vous aider au mieux, n’hésitez pas à nous faire vos retours</p>
					</div>
					<div class="card-footer text-end">
						<a href="https://tally.so/r/3la8PB" target="_blank" class="btn btn-ico btn-link stretched-link">
							<span>Accéder aux suggestions</span>
							<i class="ri-external-link-line ri-lg" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col mb-3 mb-md-5">
				<div class="card c-card c-card--communaute has-one-link-inside h-100 w-100">
					<div class="card-header">
						<h3 class="h3">Aide et support</h3>
					</div>
					<div class="card-body">
						<p>Si notre documentation ne vous renseigne pas suffisamment, vous pouvez contacter notre support</p>
					</div>
					<div class="card-footer text-end">
						<a href="https://aide.pilotage.inclusion.beta.gouv.fr/hc/fr/requests/new" target="_blank" class="btn btn-ico btn-link stretched-link">
							<span>Accéder au support</span>
							<i class="ri-external-link-line ri-lg" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col mb-3 mb-md-5">
				<div class="card c-card c-card--communaute has-one-link-inside h-100 w-100">
					<div class="card-header">
						<h3 class="h3">Événements</h3>
					</div>
					<div class="card-body">
						<p>Découvrez et prennez en main vos outils statistiques et pilotage lors de nos webinaires</p>
					</div>
					<div class="card-footer text-end">
						<a href="https://plateforme-inclusion.notion.site/83971e19fd384244837c31f2eae2e66b?v=7ca759d104f649399bb7b211f51f0d24" target="_blank" class="btn btn-ico btn-link stretched-link">
							<span>Accéder à nos événements</span>
							<i class="ri-external-link-line ri-lg" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
