<section class="s-section my-md-7">
    <div class="s-section__container container container-max-lg">
        <div class="s-section__row row row mb-1 mb-md-3">
            <div class="col-12">
                <h2>Nos utilisateurs témoignent</h2>
            </div>
        </div>
        <div class="s-section__row row row mb-1 mb-md-3">
            <div class="col-12">
                <blockquote class="blockquote mb-3 mb-md-5">
                    <p class="mb-0 font-weight-bold fs-lg">L’ensemble des données recueillies nous permettent vraiment de faire un bilan sur les recrutements et de modifier peut-être notre façon de recruter.</p>
                    <footer class="blockquote-footer">
                        <i>Association intermédiaire dans l’Aisne sur son tableau de bord privé</i>. Données de candidatures et des embauches
                    </footer>
                </blockquote>
                <blockquote class="blockquote mb-3 mb-md-5">
                    <p class="mb-0 font-weight-bold fs-lg">J’avais déjà créé mon tableau de bord avec des indicateurs qui ressemblent vraiment beaucoup beaucoup à ceux-ci! Je vais pouvoir économiser du temps!!</p>
                    <footer class="blockquote-footer">
                        <i>Entreprise d’insertion en Occitanie sur son tableau de bord privé</i>. Données de candidatures et des embauches
                    </footer>
                </blockquote>
                <blockquote class="blockquote mb-3 mb-md-5">
                    <p class="mb-0 font-weight-bold fs-lg">L’outil fournit des informations importantes notamment pour argumenter nos différentes rencontres avec l’ensemble des partenaires et pouvoir les mobiliser davantage compte tenu des difficultés de recrutements rencontrées.</p>
                    <footer class="blockquote-footer">
                        <i>Association intermédiaire dans les Alpes-Maritime sur son tableau de bord privé</i>. Données de candidatures et des embauches
                    </footer>
                </blockquote>
                <div class="text-end">
                    <a href="https://swll.to/PilotagePageTemoignages" target="_blank" class="btn btn-link has-external-link pe-0">Découvrez d’autres témoignages utilisateurs</a>
                </div>
            </div>
        </div>
    </div>
</section>
