<section class="s-section mt-md-6">
	<div class="s-section__container container">
		<div class="s-section__row row mb-1 mb-md-3">
			<div class="col-12">
				<h2 class="text-secondary">Témoignages utilisateurs</h2>
				<p>Partagez avec nous votre témoignage en complétant les enquêtes présentes sur chaque page de vos tableaux de bord privés et publics et participez à faire évoluer vos outils !</p>
			</div>
		</div>
		<div class="s-section__row row">
			<div class="s-section__col col-12">
				<div id="tinySliderTestimonial">
					<div>
						<blockquote class="blockquote">
							<p class="mb-0">L'ensemble des données recueillies <strong>nous permettent vraiment de faire un bilan sur les recrutements et de modifier peut être notre façon de recruter</strong>.</p>
							<footer class="blockquote-footer">Association intermédiaire dans l'Aisne sur son tableau de bord privé Données de candidatures et des embauches</footer>
						</blockquote>
					</div>
					<div>
						<blockquote class="blockquote">
							<p class="mb-0">J'avais déjà créé mon tableau de bord avec des indicateurs qui ressemblent vraiment beaucoup beaucoup à ceux-ci! <strong>Je vais pouvoir économiser du temps!!</strong>.</p>
							<footer class="blockquote-footer">Entreprise d'insertion en Occitanie sur son tableau de bord privé Données de candidatures et des embauches</footer>
						</blockquote>
					</div>
					<div>
						<blockquote class="blockquote">
							<p class="mb-0">L'outil fournit des informations importantes notamment pour <strong>argumenter nos différentes rencontres avec l'ensemble des partenaires</strong> et pouvoir les <strong>mobiliser davantage</strong> compte tenu des difficultés de recrutement rencontrées.</p>
							<footer class="blockquote-footer">Association intermédiaire dans les Alpes-Maritime sur son tableau de bord privé Données de candidatures et des embauches</footer>
						</blockquote>
					</div>
					<div>
						<blockquote class="blockquote">
							<p class="mb-0">C'est un outil pratique et facilitateur pour un professionnel qui accompagne vers l'emploi avec des <strong>informations importantes pour le pilotage des actions des SIAE, une bonne gestion des partenariats, le suivi des réunions ou de concertation entre acteurs de l'insertion</strong>.</p>
							<footer class="blockquote-footer">Nicole au sein d’une SIAE sur son tableau de bord privé Données de candidatures et des embauches</footer>
						</blockquote>
					</div>
					<div>
						<blockquote class="blockquote">
							<p class="mb-0">C'est un outil avec une réelle valeur ajoutée pour <strong>faire le suivi avec les structures</strong>, en agence Pôle emploi et pour notre direction.</p>
							<footer class="blockquote-footer">Un utilisateur chez Pôle emploi sur ses tableaux de bord privés</footer>
						</blockquote>
					</div>
					<div>
						<blockquote class="blockquote">
							<p class="mb-0">Les différentes statistiques vont <strong>nous aider dans l'élaboration des comités de suivi des salariés</strong>. J'ai utilisé les candidatures par types de prescripteurs lors d'un comité de suivi.</p>
							<footer class="blockquote-footer">Une SIAE sur son tableau de bord privé Données de candidatures et des embauches </footer>
						</blockquote>
					</div>
				</div>
				<div class="text-end">
					<a href="https://swll.to/PilotagePageTemoignages" target="_blank" class="btn btn-ico btn-link">
						<span>Découvrez d’autres témoignages utilisateurs</span>
						<i class="ri-external-link-line ri-lg" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
